$accentColor: #d2bfbf;

.input-edit {
  outline: none;
  padding: 6px 22px;
  font-size: 18px;
  border: none;
  font-family: 'Montserrat', sans-serif;
}

.input-edit[value] {
  color: $accentColor;
}