$accentColor: #d2bfbf;

.btn {
  padding: 6px;
  background-color: $accentColor;
  color: #fff;
  outline: none;
  cursor: pointer;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  &:hover {
    background-color: darken($accentColor, 5%);
  }

  &__save {
    background-color: lightskyblue;
    margin: 10px auto;
    &:hover {
      background-color: darken(lightskyblue, 5%);
    }
  }

  &__delete {
    background-color: #ba4b4b;
    &:hover {
      background-color: darken(#ba4b4b, 5%);
    }
  }

  &__add {
    background-color: lightsalmon;
    &:hover {
      background-color: darken(lightsalmon, 5%);
    }
  }

  &__edit {
    background-color: #729b72;
    &:hover {
      background-color: darken(#729b72, 5%);
    }
  }

  &__new {
    margin: 10px 0;
  }

  &__back {
    margin: 10px 0 0 auto;
  }
}