//$accentColor: #8254ff;
$accentColor: #b19f9f;

.section {
  padding: 20px;
}

.book {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 10px;

  &__item {
    outline: 1px dashed lightpink;

    padding: 6px 0 6px 20px;
    font-size: 18px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__name {
    width: 100px;
  }

  &__name:hover {
    color: blue;
  }
}

.btn {
  padding: 7px 14px;
  background-color: $accentColor;
  color: #fff;
  outline: none;
  cursor: pointer;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: darken($accentColor, 5%);
  }
}

p {
  margin: 0;
}

.link:hover {
  color: blue;
}

.details {
  outline: 1px dashed lightgreen;
  display: flex;
  justify-content: space-between;
}
